<div class="trail-show">

  <div class="left-side">
    
    <div class="show-map">
      
      <div id="trail-map-canvas">
      </div>
    
    </div>

    <div class="hiker-photos">
      <h3> Hikers' Photos </h3>

      <div class="user-features">
        <form class="upload-button" accept-charset-"UTF-8" action="<%= @trail.id %>/photos" class="new_photo" enctype="multipart/form-data" id="new_photo" method="POST">
            <input id="photo_trail_id" name="photo[trail_id]" type="hidden">
            <div class="style-choose-photo">
              <i class="fa fa-camera-retro fa-2x"> Upload Photo</i>
            <input class="choose-photo" id="photo_image" name="photo[image]" type="file">
            </div>
            <input class="submit-photo" name="commit" type="submit" value="Submit Photo">
        </form>
      </div>
    </div>
    

    <div class="trail-carousel"> 
      <div class="trail-carousel-map-img"><%= image_tag("google_map.jpg") %></div>
      <% @trail.photos.each do |photo|  %>
        <div class="trail-carousel-img"><img src=<%= photo.image_url(:thumb).to_s %>></img>
        </div>
      <% end %>
    </div>
      
  </div>

  <div class="content">

    
    <div class="upperinfo">

      <div class="trail-basic-information">

        <div class="trail-name"><h1><%= @trail.name %></h1>
        </div>

        <div class="rating">Rating: 
          <% if @trail.rating == nil %>
            <%= 0 %>
          <% else %>
            <%= @trail.rating_to_trees.html_safe %>
          <% end %>
        </div>

        <div class="upperinfo">
          <div class="trail-detailed-information">
            <div class="trail-location"><%= @trail.city %>, <%= @trail.state %>
            </div>
          <div class="trail-metrics">
            <div class="trail-length">Length: <%= @trail.length %> miles
            </div>                         
            <div class="trail-difficulty">Difficulty: <%= @trail.difficulty_in_words %>
            </div>
          </div>
        </div>
      
        <div class="description"><p><%= @trail.description %></p>
        </div>
      </div> 
    </div>

      <div class="hiker-commentaries">
        <h3> Hikers' Commentaries </h3><div class="comment-button"><i class="fa fa-pencil"> Comment</i></div>
      </div>

        <div class="comments">
        <% if @trail.comments == [] %>
          <h4>Be the first to comment on this trail.</h4>
        <% end %>
        <% if @trail.comments != [] %>
          <% @trail.comments.order(id: :desc).each_with_index do |comment, index| %>
            <% if index < 5 %>
              <div class="comment-section trail-show">
                  <div class="one-comment" data-id="<%= comment.id %>">
                
                    <div class="comment-top">

                      <div class="comment-top-right">rating: 
                        <%= comment.rating_to_trees.html_safe %> 
                        
                        difficulty: <%=comment.difficulty_to_words %>
                      </div>
                    
                    </div>
                
                    <div class="comment-review">
                      
                      <div class="comment-review-body">
                        <p><%= comment.review %></p>
                      </div>
                
                    </div>
                
                    <div class="comment-bottom">
                  
                      <div class="comment-tip">  
                        <p><strong>Tip:</strong> <%= comment.tip %></p>
                      </div>
      
                    <div class="comment-date-hiked">
                    </div>
                  
                    <div class="comment-top-left">
                      Authored by: <strong><%= comment.user.username %></strong> | date posted: <%= Date.parse(comment.created_at.to_s) %> | date hiked: <%= comment.date_hiked %>
                    </div>

                  </div>

                </div>

              </div>
            
            <% end %>
          <% end %>
        <% end %>

        <% unless @trail.comments.size < 5 %>
          <div class="see-more-comments-button"><button>See More</button></div>
        <% end %>
      </div> 
    
    </div>

  </div>

</div>

<div class="trail-footer">
  <%= image_tag("trailapi.png", :size => "174x60", :id => "icon") %>
</div>