<div class="content">
    <div class="trail-name"><h1><%= @trail.name %></h1></div>
    <div class="rating">Rating: <%= @trail.rating == nil ? 0 : @trail.rating %></div>
    <div class="user-features">
      <% if @user %>
          <form class="upload-button" accept-charset-"UTF-8" action="<%= @trail.id %>/photos" class="new_photo" enctype="multipart/form-data" id="new_photo" method="POST">
            <input id="photo_trail_id" name="photo[trail_id]" type="hidden">
            <input class="choose-photo" id="photo_image" name="photo[image]" type="file">
            <input class="submit-photo" name="commit" type="submit" value="Submit Photo">
          </form>
          <button class="comment-button">Comment</button>
        <% end %>
    </div>

    <div class="show-map">
      <div id="trail-map-canvas"></div>
    </div>

    <div class="trail-location"><%= @trail.city %>, <%= @trail.state %></div>
    <div class="trail-metrics">Length: <%= @trail.length %> miles  Difficulty: <%= @trail.difficulty %></div>
    <div class="description"><p><%= @trail.description %></p></div>
    <div class="trail-carousel">
      <% @trail.photos.each do |photo|  %>
        <div class="trail-carousel-img"><img src=<%= photo.image_url(:thumb).to_s %>></img></div>
      <% end %>
    </div>

    </div>

      <% if @trail.comments != [] %>
      <% @trail.comments.order(id: :desc).each_with_index do |comment, index| %>
        <% if index < 5 %>
        <div class="comment-section">
        <div class="one-comment" data-id="<%= comment.id %>">
          <div class="comment-top">

            <div class="comment-top-right">
              rating: <%= comment.rating %> difficulty: <%= comment.difficulty %>
            </div>
          </div>
          <div class="comment-review">
            <div class="comment-review-body">
              <p><%= comment.review %></p>
            </div>
          </div>
          <div class="comment-bottom">
            <div class="comment-tip">
              <p><strong>Tip:</strong> <%= comment.tip %></p>
            </div>
            <div class="comment-date-hiked">

            </div>
            <div class="comment-top-left">
              Authored by: <strong><%= comment.user.username %></strong> | date posted: <%= Date.parse(comment.created_at.to_s) %> | date hiked: <%= comment.date_hiked %>
            </div>

          </div>

        </div>
      </div>
    <% end %>
    <% end %>
    <% end %>
    <div class="see-more-comments-button"><button>See More</button></div>

</div>
